# PRACTICA 6: ELASTICSEARCH
### 1.4 Consulta del API e ingesta de datos en ELASTICSEARCH

Se importan las librerias necesarias

In [50]:
import requests
from xml.etree import ElementTree

In [51]:
response = requests.get("https://informo.madrid.es/informo/tmadrid/pm.xml")
root = ElementTree.fromstring(response.content)

In [52]:
fecha = root[0].text
print(fecha)

04/04/2022 11:30:07

In [53]:
out = []
for pm in root[1:]:
    d = {}
    for i in pm:
        d[i.tag] = i.text
    out.append(d)

In [54]:
print(f"Hay {len(out)} medidas en el XML")

Hay 4465 medidas en el XML

### 2. Resultados en formato Pandas

In [55]:
import pandas as pd

# Data frame
df = pd.DataFrame(out)
# Se muestran los cinco primeros elementos
df.head(5)

,idelem,descripcion,accesoAsociado,intensidad,ocupacion,carga,nivelServicio,intensidadSat,error,subarea,st_x,st_y,velocidad
0,3409,SEPULVEDA Ø118 N-S (CEBREROS-CJAL. FCO. J. JIM...,240102,160,1,6,0,3000,N,1718,"436004,103195086","4472588,47356732",NaN
1,4739,CJAL. FCO. J. JIMENEZ Ø126 E-O (BERLANAS-SEPUL...,240101,160,1,6,0,3000,N,1718,"436039,395885266","4472397,54735486",NaN
2,4740,CJAL. FCO. J. JIMENEZ Ø86 O-E (F. CALVO-ALHAMBRA),240604,135,2,6,0,3000,N,1712,"436728,94576426","4472480,67512345",NaN
3,4741,CJAL. FCO. J. JIMENEZ Ø76 E-O (HURTUMPASCUAL-A...,240602,90,1,3,0,3000,N,1712,"436894,776506751","4472514,84449863",NaN
4,4742,ALHAMBRA Ø23 N-S (CJAL. FCO. J. JIMENEZ -CUART...,241101,225,1,8,0,3000,N,1712,"436809,990969673","4472410,09421372",NaN

Convertimos a numérico los campos necesarios

In [56]:
# Convertimos el campo intensidad a numerico
df["intensidad"] = pd.to_numeric(df["intensidad"],errors="ignore")
# Convertimos el campo ocupacion a numerico
df["ocupacion"] = pd.to_numeric(df["ocupacion"],errors="ignore")
# Convertimos el campo carga a numerico
df["carga"] = pd.to_numeric(df["carga"],errors="ignore")
# Convertimos el campo nivelServicio a numerico
df["nivelServicio"] = pd.to_numeric(df["nivelServicio"],errors="ignore")
# Convertimos el campo intensidadSat a numerico
df["intensidadSat"] = pd.to_numeric(df["intensidadSat"],errors="ignore")
# Convertimos el campo st_x a numerico
df["st_x"] = [i.replace(",",".") for i in df["st_x"]]
df["st_x"] = pd.to_numeric(df["st_x"])
# Convertimos el campo st_y a numerico
df["st_y"] = [i.replace(",",".") for i in df["st_y"]]
df["st_y"] = pd.to_numeric(df["st_y"],errors="ignore")
# Se muestran los cinco primeros elementos
df.head(5)

,idelem,descripcion,accesoAsociado,intensidad,ocupacion,carga,nivelServicio,intensidadSat,error,subarea,st_x,st_y,velocidad
0,3409,SEPULVEDA Ø118 N-S (CEBREROS-CJAL. FCO. J. JIM...,240102,160,1,6,0,3000.0,N,1718,436004.103195,4.472588e+06,NaN
1,4739,CJAL. FCO. J. JIMENEZ Ø126 E-O (BERLANAS-SEPUL...,240101,160,1,6,0,3000.0,N,1718,436039.395885,4.472398e+06,NaN
2,4740,CJAL. FCO. J. JIMENEZ Ø86 O-E (F. CALVO-ALHAMBRA),240604,135,2,6,0,3000.0,N,1712,436728.945764,4.472481e+06,NaN
3,4741,CJAL. FCO. J. JIMENEZ Ø76 E-O (HURTUMPASCUAL-A...,240602,90,1,3,0,3000.0,N,1712,436894.776507,4.472515e+06,NaN
4,4742,ALHAMBRA Ø23 N-S (CJAL. FCO. J. JIMENEZ -CUART...,241101,225,1,8,0,3000.0,N,1712,436809.990970,4.472410e+06,NaN

Convertimos el campo fecha a formato date

In [57]:
from datetime import datetime
# Le damos formato a la fecha
fecha_strp = datetime.strptime(fecha,"%d/%m/%Y %H:%M:%S")
print(f"Fecha strp: {fecha_strp}")
fecha_strf = datetime.strftime(fecha_strp,"%d/%m/%Y %H:%M:%S")
print(f"Fecha strf: {fecha_strf}")

Fecha strp: 2022-04-04 11:30:07
Fecha strf: 04/04/2022 11:30:07

In [58]:
import utm
# Convertimos las str a coordenadas
df["location"] = [utm.to_latlon(df["st_x"][i],df["st_y"][i],zone_number=30,zone_letter="T") for i in range(0,len(df["st_y"]))]
# Eliminamos los campos st_x y st_y una vez hemos obtenido la localizacion
del df["st_x"]
del df["st_y"]
df.head(3)

,idelem,descripcion,accesoAsociado,intensidad,ocupacion,carga,nivelServicio,intensidadSat,error,subarea,velocidad,location
0,3409,SEPULVEDA Ø118 N-S (CEBREROS-CJAL. FCO. J. JIM...,240102,160,1,6,0,3000.0,N,1718,NaN,"(40.401447264855946, -3.7541516712567753)"
1,4739,CJAL. FCO. J. JIMENEZ Ø126 E-O (BERLANAS-SEPUL...,240101,160,1,6,0,3000.0,N,1718,NaN,"(40.39973003758229, -3.753716620466508)"
2,4740,CJAL. FCO. J. JIMENEZ Ø86 O-E (F. CALVO-ALHAMBRA),240604,135,2,6,0,3000.0,N,1712,NaN,"(40.400531565004236, -3.7455998299491524)"

Eliminación del caracter unicode "Ø" del dataframe

In [59]:
dff=df.copy()
dff["idelem"]=dff["idelem"].apply(lambda x: x.replace("0","EE"))
dff["idelem"]

0         34EE9
1          4739
2         474EE
3          4741
4          4742
         ...
4460    1EE27EE
4461    1EE66EE
4462     1EE662
4463     1EE661
4464     1EE659
Name: idelem, Length: 4465, dtype: object

In [70]:
from unidecode import unidecode

for col in df:
    if isinstance(df[col].loc[0],str):        
        df[col] = df[col].apply(lambda x: str(x).replace("Ø","n.").replace("´","").replace("'",""))
df.head(5)

,idelem,descripcion,accesoAsociado,intensidad,ocupacion,carga,nivelServicio,intensidadSat,error,subarea,velocidad,location
0,3409,SEPULVEDA n.118 N-S (CEBREROS-CJAL. FCO. J. JI...,240102,160,1,6,0,3000.0,N,1718,NaN,"(40.401447264855946, -3.7541516712567753)"
1,4739,CJAL. FCO. J. JIMENEZ n.126 E-O (BERLANAS-SEPU...,240101,160,1,6,0,3000.0,N,1718,NaN,"(40.39973003758229, -3.753716620466508)"
2,4740,CJAL. FCO. J. JIMENEZ n.86 O-E (F. CALVO-ALHAM...,240604,135,2,6,0,3000.0,N,1712,NaN,"(40.400531565004236, -3.7455998299491524)"
3,4741,CJAL. FCO. J. JIMENEZ n.76 E-O (HURTUMPASCUAL-...,240602,90,1,3,0,3000.0,N,1712,NaN,"(40.40085196078128, -3.743649187934572)"
4,4742,ALHAMBRA n.23 N-S (CJAL. FCO. J. JIMENEZ -CUAR...,241101,225,1,8,0,3000.0,N,1712,NaN,"(40.39990189695159, -3.7446378463982053)"

Se convierte a string todo el dicionatio

In [73]:
data = str(df).replace("'","\"")
print(data)

     idelem                                        descripcion accesoAsociado  \
0      3409  SEPULVEDA n.118 N-S (CEBREROS-CJAL. FCO. J. JI...         240102
1      4739  CJAL. FCO. J. JIMENEZ n.126 E-O (BERLANAS-SEPU...         240101
2      4740  CJAL. FCO. J. JIMENEZ n.86 O-E (F. CALVO-ALHAM...         240604
3      4741  CJAL. FCO. J. JIMENEZ n.76 E-O (HURTUMPASCUAL-...         240602
4      4742  ALHAMBRA n.23 N-S (CJAL. FCO. J. JIMENEZ -CUAR...         241101
...     ...                                                ...            ...
4460  10270                                                nan            nan
4461  10660                                                nan            nan
4462  10662                                                nan            nan
4463  10661                                                nan            nan
4464  10659                                                nan            nan

      intensidad  ocupacion  carga  nivelServicio  intensidadSat error  \
0            160          1      6              0         3000.0     N
1            160          1      6              0         3000.0     N
2            135          2      6              0         3000.0     N
3             90          1      3              0         3000.0     N
4            225          1      8              0         3000.0     N
...          ...        ...    ...            ...            ...   ...
4460          -1         -1     -1             -1            NaN  None
4461         240          2     15              0            NaN     N
4462         180          1     11              0            NaN     N
4463         960         10     58              0            NaN     N
4464         540          2     29              0            NaN     N

     subarea velocidad                                   location
0       1718       NaN  (40.401447264855946, -3.7541516712567753)
1       1718       NaN    (40.39973003758229, -3.753716620466508)
2       1712       NaN  (40.400531565004236, -3.7455998299491524)
3       1712       NaN    (40.40085196078128, -3.743649187934572)
4       1712       NaN   (40.39990189695159, -3.7446378463982053)
...      ...       ...                                        ...
4460     nan        -1   (40.483222173178454, -3.688265610385627)
4461     nan        61    (40.43401813391949, -3.737924917240629)
4462     nan        95    (40.41929825523025, -3.658963413171124)
4463     nan        61   (40.43343000793359, -3.6599678379293423)
4464     nan        82  (40.461579189240894, -3.7462822438932806)

[4465 rows x 12 columns]

Se mandan los datos a elastic search

In [99]:
import json
# Creamos el dicionario json
data_json = df.to_json(orient="records")
data_json = json.loads(data_json)

In [117]:
# Lanzamos un request a la BBDD
import requests

url = "https://pruebasd.es.northeurope.azure.elastic-cloud.com:9243/trafico-madrid/_doc"

payload=json.dumps([data_json[i] for i in range(0,len(data_json))])
headers = {
  'Authorization': 'Basic cmF1bDpvc2l0b2dvbWlub2xhXzY5'
}

response = requests.request("POST", url, headers=headers, data=payload)