# PRACTICA 6: ELASTICSEARCH
### 1.4 Consulta del API e ingesta de datos en ELASTICSEARCH

Se importan las librerias necesarias

In [62]:
import requests
from xml.etree import ElementTree

In [63]:
response = requests.get("https://informo.madrid.es/informo/tmadrid/pm.xml")
root = ElementTree.fromstring(response.content)

In [64]:
fecha = root[0].text
print(fecha)

06/04/2022 16:10:05

In [65]:
out = []
for pm in root[1:]:
    d = {}
    for i in pm:
        d[i.tag] = i.text
    # d["fecha_hora"] = fecha
    out.append(d)

In [66]:
print(f"Hay {len(out)} medidas en el XML")

Hay 4467 medidas en el XML

### 2. Resultados en formato Pandas

In [67]:
import pandas as pd

# Data frame
df = pd.DataFrame(out)
# Se muestran los cinco primeros elementos
df.head(5)

,idelem,descripcion,accesoAsociado,intensidad,ocupacion,carga,nivelServicio,intensidadSat,error,subarea,st_x,st_y,velocidad
0,3409,SEPULVEDA Ø118 N-S (CEBREROS-CJAL. FCO. J. JIM...,240102,0,0,0,0,3000,N,1718,"436004,103195086","4472588,47356732",NaN
1,4739,CJAL. FCO. J. JIMENEZ Ø126 E-O (BERLANAS-SEPUL...,240101,360,4,16,0,3000,N,1718,"436039,395885266","4472397,54735486",NaN
2,4740,CJAL. FCO. J. JIMENEZ Ø86 O-E (F. CALVO-ALHAMBRA),240604,315,5,15,0,3000,N,1712,"436728,94576426","4472480,67512345",NaN
3,4741,CJAL. FCO. J. JIMENEZ Ø76 E-O (HURTUMPASCUAL-A...,240602,45,0,2,0,3000,N,1712,"436894,776506751","4472514,84449863",NaN
4,4742,ALHAMBRA Ø23 N-S (CJAL. FCO. J. JIMENEZ -CUART...,241101,180,1,6,0,3000,N,1712,"436809,990969673","4472410,09421372",NaN

Convertimos a numérico los campos necesarios

In [68]:
# Convertimos el campo intensidad a numerico
df["intensidad"] = pd.to_numeric(df["intensidad"],errors="ignore")
# Convertimos el campo ocupacion a numerico
df["ocupacion"] = pd.to_numeric(df["ocupacion"],errors="ignore")
# Convertimos el campo carga a numerico
df["carga"] = pd.to_numeric(df["carga"],errors="ignore")
# Convertimos el campo nivelServicio a numerico
df["nivelServicio"] = pd.to_numeric(df["nivelServicio"],errors="ignore")
# Convertimos el campo intensidadSat a numerico
df["intensidadSat"] = pd.to_numeric(df["intensidadSat"],errors="ignore")
# Convertimos el campo st_x a numerico
df["st_x"] = [i.replace(",",".") for i in df["st_x"]]
df["st_x"] = pd.to_numeric(df["st_x"])
# Convertimos el campo st_y a numerico
df["st_y"] = [i.replace(",",".") for i in df["st_y"]]
df["st_y"] = pd.to_numeric(df["st_y"],errors="ignore")
# Se muestran los cinco primeros elementos
df.head(5)

,idelem,descripcion,accesoAsociado,intensidad,ocupacion,carga,nivelServicio,intensidadSat,error,subarea,st_x,st_y,velocidad
0,3409,SEPULVEDA Ø118 N-S (CEBREROS-CJAL. FCO. J. JIM...,240102,0,0,0,0.0,3000.0,N,1718,436004.103195,4.472588e+06,NaN
1,4739,CJAL. FCO. J. JIMENEZ Ø126 E-O (BERLANAS-SEPUL...,240101,360,4,16,0.0,3000.0,N,1718,436039.395885,4.472398e+06,NaN
2,4740,CJAL. FCO. J. JIMENEZ Ø86 O-E (F. CALVO-ALHAMBRA),240604,315,5,15,0.0,3000.0,N,1712,436728.945764,4.472481e+06,NaN
3,4741,CJAL. FCO. J. JIMENEZ Ø76 E-O (HURTUMPASCUAL-A...,240602,45,0,2,0.0,3000.0,N,1712,436894.776507,4.472515e+06,NaN
4,4742,ALHAMBRA Ø23 N-S (CJAL. FCO. J. JIMENEZ -CUART...,241101,180,1,6,0.0,3000.0,N,1712,436809.990970,4.472410e+06,NaN

Convertimos el campo fecha a formato date

In [69]:
from datetime import datetime
# Le damos formato a la fecha
fecha_strp = datetime.strptime(fecha,"%d/%m/%Y %H:%M:%S")
print(f"Fecha strp: {fecha_strp}")
# fecha_strf = datetime.strftime(fecha_strp,"%d/%m/%Y %H:%M:%S")
# print(f"Fecha strf: {fecha_strf}")
df["fecha_hora"] = fecha_strp

Fecha strp: 2022-04-06 16:10:05

In [70]:
import utm
# Convertimos las str a coordenadas
df["location"] = [utm.to_latlon(df["st_x"][i],df["st_y"][i],zone_number=30,zone_letter="T") for i in range(0,len(df["st_y"]))]
# Eliminamos los campos st_x y st_y una vez hemos obtenido la localizacion
del df["st_x"]
del df["st_y"]
df.head(3)

,idelem,descripcion,accesoAsociado,intensidad,ocupacion,carga,nivelServicio,intensidadSat,error,subarea,velocidad,fecha_hora,location
0,3409,SEPULVEDA Ø118 N-S (CEBREROS-CJAL. FCO. J. JIM...,240102,0,0,0,0.0,3000.0,N,1718,NaN,2022-04-06 16:10:05,"(40.401447264855946, -3.7541516712567753)"
1,4739,CJAL. FCO. J. JIMENEZ Ø126 E-O (BERLANAS-SEPUL...,240101,360,4,16,0.0,3000.0,N,1718,NaN,2022-04-06 16:10:05,"(40.39973003758229, -3.753716620466508)"
2,4740,CJAL. FCO. J. JIMENEZ Ø86 O-E (F. CALVO-ALHAMBRA),240604,315,5,15,0.0,3000.0,N,1712,NaN,2022-04-06 16:10:05,"(40.400531565004236, -3.7455998299491524)"

Eliminación del caracter unicode "Ø" del dataframe

In [71]:
from unidecode import unidecode

for col in df:
    if isinstance(df[col].loc[0],str):        
        df[col] = df[col].apply(lambda x: str(x).replace("Ø","n.").replace("´","").replace("'",""))
df.head(5)

,idelem,descripcion,accesoAsociado,intensidad,ocupacion,carga,nivelServicio,intensidadSat,error,subarea,velocidad,fecha_hora,location
0,3409,SEPULVEDA n.118 N-S (CEBREROS-CJAL. FCO. J. JI...,240102,0,0,0,0.0,3000.0,N,1718,NaN,2022-04-06 16:10:05,"(40.401447264855946, -3.7541516712567753)"
1,4739,CJAL. FCO. J. JIMENEZ n.126 E-O (BERLANAS-SEPU...,240101,360,4,16,0.0,3000.0,N,1718,NaN,2022-04-06 16:10:05,"(40.39973003758229, -3.753716620466508)"
2,4740,CJAL. FCO. J. JIMENEZ n.86 O-E (F. CALVO-ALHAM...,240604,315,5,15,0.0,3000.0,N,1712,NaN,2022-04-06 16:10:05,"(40.400531565004236, -3.7455998299491524)"
3,4741,CJAL. FCO. J. JIMENEZ n.76 E-O (HURTUMPASCUAL-...,240602,45,0,2,0.0,3000.0,N,1712,NaN,2022-04-06 16:10:05,"(40.40085196078128, -3.743649187934572)"
4,4742,ALHAMBRA n.23 N-S (CJAL. FCO. J. JIMENEZ -CUAR...,241101,180,1,6,0.0,3000.0,N,1712,NaN,2022-04-06 16:10:05,"(40.39990189695159, -3.7446378463982053)"

Se convierte a string todo el dicionatio

In [72]:
data = str(df).replace("'","\"")
print(data)

     idelem                                        descripcion accesoAsociado  \
0      3409  SEPULVEDA n.118 N-S (CEBREROS-CJAL. FCO. J. JI...         240102
1      4739  CJAL. FCO. J. JIMENEZ n.126 E-O (BERLANAS-SEPU...         240101
2      4740  CJAL. FCO. J. JIMENEZ n.86 O-E (F. CALVO-ALHAM...         240604
3      4741  CJAL. FCO. J. JIMENEZ n.76 E-O (HURTUMPASCUAL-...         240602
4      4742  ALHAMBRA n.23 N-S (CJAL. FCO. J. JIMENEZ -CUAR...         241101
...     ...                                                ...            ...
4462  10270                                                nan            nan
4463  10660                                                nan            nan
4464  10662                                                nan            nan
4465  10661                                                nan            nan
4466  10659                                                nan            nan

      intensidad  ocupacion  carga  nivelServicio  intensidadSat error  \
0              0          0      0            0.0         3000.0     N
1            360          4     16            0.0         3000.0     N
2            315          5     15            0.0         3000.0     N
3             45          0      2            0.0         3000.0     N
4            180          1      6            0.0         3000.0     N
...          ...        ...    ...            ...            ...   ...
4462          -1         -1     -1           -1.0            NaN  None
4463         420          3     26            0.0            NaN     N
4464        1080          8     63            0.0            NaN     N
4465        1020         10     61            0.0            NaN     N
4466         240          3     15            0.0            NaN     N

     subarea velocidad          fecha_hora  \
0       1718       NaN 2022-04-06 16:10:05
1       1718       NaN 2022-04-06 16:10:05
2       1712       NaN 2022-04-06 16:10:05
3       1712       NaN 2022-04-06 16:10:05
4       1712       NaN 2022-04-06 16:10:05
...      ...       ...                 ...
4462     nan        -1 2022-04-06 16:10:05
4463     nan        62 2022-04-06 16:10:05
4464     nan        79 2022-04-06 16:10:05
4465     nan        66 2022-04-06 16:10:05
4466     nan        75 2022-04-06 16:10:05

                                       location
0     (40.401447264855946, -3.7541516712567753)
1       (40.39973003758229, -3.753716620466508)
2     (40.400531565004236, -3.7455998299491524)
3       (40.40085196078128, -3.743649187934572)
4      (40.39990189695159, -3.7446378463982053)
...                                         ...
4462   (40.483222173178454, -3.688265610385627)
4463    (40.43401813391949, -3.737924917240629)
4464    (40.41929825523025, -3.658963413171124)
4465   (40.43343000793359, -3.6599678379293423)
4466  (40.461579189240894, -3.7462822438932806)

[4467 rows x 13 columns]

Se mandan los datos a elasticsearch

In [73]:
import json
# Creamos el dicionario json
df_json = df.to_json(orient="records")
# Deserializamos la informacion en diccionarios
data_jsons = json.loads(df_json)
# Numero de datos para la ingesta
print(f"Número de datos: {len(data_jsons)}")

Número de datos: 4467

In [78]:
# Inicializamos el contador responses sucessful y failed
successful = failed = 0
# Url a la que se van a realizar las requests (_doc)
url = "https://pruebasd.es.northeurope.azure.elastic-cloud.com:9243/trafico-madrid/_doc"
# Lanzamos un request a la BBDD par cada dato
for i in range(0,len(data_jsons)):
  data = data_jsons[i]
  payload = json.dumps(data) # Serializacion dict
  headers = {
    'Content-Type': 'application/json',
    'Authorization': 'Basic cmF1bDpvc2l0b2dvbWlub2xhXzY5'
  }
  # Realizamos la request y capturamos la respuesta
  response = requests.request("POST", url, headers=headers, data=payload)
  if response.status_code == 201:
    successful += 1 
  elif response.status_code == 400:
    failed += 1
    print(response.json())
print("Response report:")
print(f"  * Sucessful: {successful}")
print(f"  * Failed: {failed}")
# Se muestra la última response obtenida
# print(f"Respuest obtenida:\n{response.json()}")

Response report:
  * Sucessful: 5
  * Failed: 0

Para reducir el tiempo de espera, haremos uso de la API BULK, donde la lanza una única request que contenga todos los datos que queremos ingestar en la BBDD, en formato ndjson (Newline Delimited JSON).

In [92]:
import ndjson
# Url a la que se van a realizar las requests (_doc/_bulk)
index = "trafico-madrid"
api = f"_bulk"
url = f"https://pruebasd.es.northeurope.azure.elastic-cloud.com:9243/{index}/{api}"
# Serializamos los datos con la librería ndjson
flag = {"index": {"_index": index}}
data_ndjson = ""
for data in data_jsons:
  data_ndjson = f"{data_ndjson}{flag}\n{data}\n"
payload = data_ndjson
headers = {
  'Content-Type': 'application/json',
  'Authorization': 'Basic cmF1bDpvc2l0b2dvbWlub2xhXzY5'
}
# Realizamos la request y capturamos la respuesta
response = requests.request("POST",url,headers=headers,data=payload)
# Mostramos la response obtenida
print(response.json())

{'error': {'root_cause': [{'type': 'json_parse_exception', 'reason': 'Unexpected character (\'\'\' (code 39)): was expecting double-quote to start field name\n at [Source: (byte[])"RAN VIA-INFANTAS)\', \'accesoAsociado\': \'0\', \'intensidad\': 300, \'ocupacion\': 8, \'carga\': 39, \'nivelServicio\': 1.0, \'intensidadSat\': 900.0, \'error\': \'N\', \'subarea\': \'0\', \'velocidad\': None, \'fecha_hora\': 1649261405000, \'location\': [40.4202072469, -3.7010923899]}\n{\'index\': {\'_index\': \'trafico-madrid\'}}\n{\'idelem\': \'4306\', \'descripcion\': \'(AFOROS)GRAN VIA, 19 O-E(MONTERA-PELIGROS)\', \'accesoAsociado\': \'161403\', \'intensidad\': 1020, \'ocupacion\': 9, \'carga\': 61, \'nivelServicio\': 2.0, \'intensidadSat\': 1800."[truncated 1048076 bytes]; line: 1, column: 3]'}], 'type': 'json_parse_exception', 'reason': 'Unexpected character (\'\'\' (code 39)): was expecting double-quote to start field name\n at [Source: (byte[])"RAN VIA-INFANTAS)\', \'accesoAsociado\': \'0\', \'intensidad\': 300, \'ocupacion\': 8, \'carga\': 39, \'nivelServicio\': 1.0, \'intensidadSat\': 900.0, \'error\': \'N\', \'subarea\': \'0\', \'velocidad\': None, \'fecha_hora\': 1649261405000, \'location\': [40.4202072469, -3.7010923899]}\n{\'index\': {\'_index\': \'trafico-madrid\'}}\n{\'idelem\': \'4306\', \'descripcion\': \'(AFOROS)GRAN VIA, 19 O-E(MONTERA-PELIGROS)\', \'accesoAsociado\': \'161403\', \'intensidad\': 1020, \'ocupacion\': 9, \'carga\': 61, \'nivelServicio\': 2.0, \'intensidadSat\': 1800."[truncated 1048076 bytes]; line: 1, column: 3]'}, 'status': 400}